<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link href="__PUBLIC__/css/admin/style.css" rel="stylesheet"/>
</head>

<body>
<div id="J_ajax_loading" class="ajax_loading">{:L('ajax_loading')}</div>
<notempty name="menu">
	<div class="subnav">
		<div class="content_menu ib_a blue line_x">
			<a class="add fb " href="{$menu.iframe}" data-uri="{$menu.iframe}" data-title="{$menu.title}" data-id="{$menu.id}" data-width="{$menu.width}" data-height="{$menu.height}"><em>{$menu.title}</em></a>　
		</div>
	</div>
</notempty>