<include file="public:header" />
<!--广告列表-->
<div class="pad_lr_10">
    <form name="searchform" method="get" >
    <table width="100%" cellspacing="0" class="search_form">
        <tbody>
            <tr>
            <td>
            <div class="explain_col">
            	<input type="hidden" name="g" value="admin" />
                <input type="hidden" name="m" value="ad" />
                <input type="hidden" name="a" value="index" />
                <input type="hidden" name="menuid" value="{$menuid}" />
            	<div class="bk3"></div>
                关键字
                <input name="keyword" type="text" class="input-text mr10" size="25" value="{$search.keyword}" />
                <input type="submit" name="search" class="btn" value="搜索" />
        	</div>
            </td>
            </tr>
        </tbody>
    </table>
    </form>
    
    <div class="J_tablelist table_list" data-acturi="{:U('ad/ajax_edit')}">
		<table width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><input type="checkbox" name="checkall" class="J_checkall"></th>
            <th><span data-tdtype="order_by" data-field="name">广告名称</span></th>
            <th><span data-tdtype="order_by" data-field="img">图片</span></th>
            <th ><span data-tdtype="order_by" data-field="url">URL</span></th>
             <th><span data-tdtype="order_by" data-field="status">描述</span></th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <volist name="data" id="val" >
          <tr>
            <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
            <td align="center"><span data-tdtype="edit" data-field="name" data-id="{$val.id}" class="tdedit">{$val.name}</span></td>
              <notempty name="val['img']"><div class="img_border"><td><img src="{:showImage($val['sm_img'])}" width="32" width="32" class="J_preview" data-bimg="{:showImage($val['sm_img'])}"></td></div></notempty>
            <td align="center"><span data-tdtype="edit" data-field="url" data-id="{$val.id}" class="tdedit">{$val.url}</span></td>
              <td align="center"><span data-tdtype="edit" data-field="url" data-id="{$val.id}" class="tdedit">{$val.desc}</span></td>

              <td align="center">
            	<a href="{:U('Ad/edit', array('id'=>$val['id']))}" class="" data-uri="" data-title="" data-id="edit" data-width="520" data-height="410">编辑</a> |
                <a href="{:U('Ad/delete', array('id'=>$val['id']))}" class="" data-acttype="" data-uri="" data-msg="">删除</a></td>
          </tr>
          </volist>
        </tbody>
      	</table>
		<div class="btn_wrap_fixed">
    		<label class="select_all"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
            <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('ad/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
    		<div id="pages">{$page}</div>
    	</div>
    </div>
</div>
<include file="public:footer" />
</body>
<script>
    $('.J_preview').preview(); //查看大图
    $('.J_cate_select').cate_select({top_option:lang.all}); //分类联动
    $('.J_tooltip[title]').tooltip({offset:[10, 2], effect:'slide'}).dynamic({bottom:{direction:'down', bounce:true}});
</script>
</html>